Repository comexio/design-system, pull requests merged in 2021-08, with the labels that each got.

#226 (LOG-33692) - Adicionar limitação por anos no datepicker
  docs/stories/components/inputs/LDatePickerDay.stories.js
  src/components/inputs/LDatePickerDay.vue
  test/components/inputs/lDatePickerDay.spec.ts
Labels: tested

#227 (LOG-33742) - Está sendo possível selecionar datas inferior 2011
  src/components/inputs/LDatePickerDay.vue
  test/components/inputs/lDatePickerDay.spec.ts
Labels: tested

#229 (LOG-32623) Refatorando estilo dos inputs
  docs/stories/components/inputs/LBorderedInput.stories.js
  docs/stories/components/inputs/LInputBorder.stories.js
  docs/stories/components/inputs/LInputLoaded.stories.js
  docs/stories/components/inputs/LInputSolo.stories.js
  docs/stories/components/inputs/LInputTag.stories.js
  docs/stories/components/inputs/LLabeledInput.stories.js
  src/components/inputs/LInputBorder.vue
  src/components/inputs/LInputLoaded.vue
  src/components/inputs/LInputSolo.vue
  src/components/inputs/LInputTag.vue
  src/components/inputs/LLabeledInput.vue
  src/components/inputs/index.js
  test/components/inputs/lInputLoaded.spec.ts
  test/utils/size.spec.ts
  utils/size.util.ts
Labels: tested

#232 (LOG-33103) Adicionando clique na linha p/ marcar checkbox
  docs/stories/components/tables/LTableNew.stories.js
  src/components/tables/LTableNew.vue
  test/components/tables/lTableNew.spec.ts
Labels: tested

#233 (LOG-31472) - Dados complementares Meu Perfil
  docs/stories/components/inputs/LSelectNamed.stories.js
  src/components/inputs/LSelectNamed.vue
  test/components/inputs/lSelectNamed.spec.ts
Labels: tested

#235 (LOG-34475) - Adicionando $listeners no LInputLoaded.vue
  src/components/inputs/LInputLoaded.vue
Labels: no test needed

#234 (LOG-29409) Criação LButtonNew
  docs/stories/components/buttons/LButton.stories.js
  docs/stories/components/buttons/LButtonIcon.stories.js
  docs/stories/components/buttons/LButtonNew.stories.js
  src/assets/scss/_variables.scss
  src/components/buttons/LButtonNew.vue
  src/components/buttons/index.js
  test/components/buttons/lButtonNew.spec.ts
Labels: tested

#239 (LOG-34888) - Add PR labeler action
  .github/labeler.yml
  .github/workflows/pr-validate.yml
Labels: enhancement

#238 (LOG-33458) Novos inputs wrappers do Vuetify + Refactors
  docs/stories/components/buttons/LButton.stories.js
  docs/stories/components/buttons/LButtonIcon.stories.js
  docs/stories/components/buttons/LButtonNew.stories.js
  docs/stories/components/inputs/LCheckbox.stories.js
  docs/stories/components/inputs/LCheckboxList.stories.js
  docs/stories/components/inputs/LCheckboxNew.stories.js
  docs/stories/components/inputs/LCombobox.stories.js
  docs/stories/components/inputs/LDatePickerDay.stories.js
  docs/stories/components/inputs/LDatePickerMonth.stories.js
  docs/stories/components/inputs/LDropdownCheckbox.stories.js
  docs/stories/components/inputs/LInputBorder.stories.js
  docs/stories/components/inputs/LInputButton.stories.js
  docs/stories/components/inputs/LInputLoaded.stories.js
  docs/stories/components/inputs/LInputSolo.stories.js
  docs/stories/components/inputs/LInputTag.stories.js
  docs/stories/components/inputs/LLabeledInput.stories.js
  docs/stories/components/inputs/LSelect.stories.js
  docs/stories/components/inputs/LSelectNamed.stories.js
  docs/stories/components/inputs/LSelectSolo.stories.js
  docs/stories/components/inputs/LTextField.stories.js
  docs/stories/components/tables/LTable.stories.js
  docs/stories/components/tables/LTableNew.stories.js
  src/assets/scss/_globals.scss
  src/assets/scss/_inputs.scss
  src/assets/scss/_main.scss
  src/assets/scss/inputs.scss
  src/components/inputs/LCombobox.vue
  src/components/inputs/LDatePickerDay.vue
  src/components/inputs/LDatePickerMonth.vue
  src/components/inputs/LSelect.vue
  src/components/inputs/LTextField.vue
  src/components/inputs/index.js
  test/components/inputs/lCombobox.spec.ts
  test/components/inputs/lDatePickerDay.spec.ts
  test/components/inputs/lDatePickerMonth.spec.ts
  test/components/inputs/lSelect.spec.ts
  test/components/inputs/lTextField.spec.ts
Labels: documentation, enhancement, tested

#241 Release/v1.3.0
  .github/labeler.yml
  .github/workflows/pr-validate.yml
  docs/stories/components/buttons/LButton.stories.js
  docs/stories/components/buttons/LButtonIcon.stories.js
  docs/stories/components/buttons/LButtonNew.stories.js
  docs/stories/components/inputs/LCheckbox.stories.js
  docs/stories/components/inputs/LCheckboxList.stories.js
  docs/stories/components/inputs/LCheckboxNew.stories.js
  docs/stories/components/inputs/LCombobox.stories.js
  docs/stories/components/inputs/LDatePickerDay.stories.js
  docs/stories/components/inputs/LDatePickerMonth.stories.js
  docs/stories/components/inputs/LDropdownCheckbox.stories.js
  docs/stories/components/inputs/LInputBorder.stories.js
  docs/stories/components/inputs/LInputButton.stories.js
  docs/stories/components/inputs/LInputLoaded.stories.js
  docs/stories/components/inputs/LInputSolo.stories.js
  docs/stories/components/inputs/LInputTag.stories.js
  docs/stories/components/inputs/LLabeledInput.stories.js
  docs/stories/components/inputs/LSelect.stories.js
  docs/stories/components/inputs/LSelectNamed.stories.js
  docs/stories/components/inputs/LSelectSolo.stories.js
  docs/stories/components/inputs/LTextField.stories.js
  docs/stories/components/tables/LTable.stories.js
  docs/stories/components/tables/LTableNew.stories.js
  package.json
  src/assets/scss/_globals.scss
  src/assets/scss/_variables.scss
  src/assets/scss/inputs.scss
  src/components/buttons/LButtonNew.vue
  src/components/buttons/index.js
  src/components/inputs/LCombobox.vue
  src/components/inputs/LDatePickerDay.vue
  src/components/inputs/LDatePickerMonth.vue
  src/components/inputs/LInputLoaded.vue
  src/components/inputs/LInputTag.vue
  src/components/inputs/LSelect.vue
  src/components/inputs/LSelectNamed.vue
  src/components/inputs/LTextField.vue
  src/components/inputs/index.js
  src/components/tables/LTableNew.vue
  test/components/buttons/lButtonNew.spec.ts
  test/components/inputs/lCombobox.spec.ts
  test/components/inputs/lDatePickerDay.spec.ts
  test/components/inputs/lDatePickerMonth.spec.ts
  test/components/inputs/lInputLoaded.spec.ts
  test/components/inputs/lInputTag.spec.ts
  test/components/inputs/lSelect.spec.ts
  test/components/inputs/lSelectNamed.spec.ts
  test/components/inputs/lTextField.spec.ts
  test/components/tables/lTableNew.spec.ts
Labels: documentation, tested

#240 (LOG-35443) Alteração para o trigger do limpar campos filtros funcionar
  src/components/inputs/LCheckboxList.vue
  test/components/inputs/lCheckboxList.spec.ts
Labels: enhancement, tested

#244 (LOG-35830) Removendo padding a mais do LInputLoaded e LInputTag
  src/components/inputs/LInputLoaded.vue
  src/components/inputs/LInputTag.vue
Labels: enhancement

#243 (LOG-35499) Melhorias LButtonNew
  .storybook/preview-head.html
  docs/stories/components/buttons/LButtonNew.stories.js
  src/components/buttons/LButtonNew.vue
  test/components/buttons/lButtonNew.spec.ts
  test/utils/size.spec.ts
  utils/size.util.ts
Labels: documentation, enhancement, tested
