Repository comexio/design-system, pull requests merged in 2021-11, with the labels that each got.

#280 (LOG-37060) Ajustando acessibilidade dos inputs
  docs/stories/components/inputs/LCombobox.stories.js
  docs/stories/components/inputs/LSelect.stories.js
  docs/stories/components/inputs/LTextField.stories.js
  src/components/inputs/LCombobox.vue
  src/components/inputs/LSelect.vue
  src/components/inputs/LTextField.vue
  test/components/inputs/lCombobox.spec.ts
  test/components/inputs/lSelect.spec.ts
  test/components/inputs/lTextField.spec.ts
Labels: documentation, enhancement, tested

#281 (LOG-35296) Atualização de segurança das dependências
  yarn.lock
Labels: enhancement

#282 (LOG-41669) - Update index file
  package.json
Labels: enhancement

#284 (LOG-39836) - Adjust opacity and line-height
  src/components/tooltip/LTooltip.vue
Labels: enhancement

#287 (LOG-40957) - Adiciona cor para icone append ao focar
  docs/stories/components/inputs/LTextField.stories.js
  src/assets/scss/inputs.scss
  src/components/inputs/LTextField.vue
Labels: documentation, enhancement

#286 (LOG-41633) Melhorias estilização do LButtonNew
  .storybook/main.js
  docs/stories/components/buttons/LButtonNew.stories.js
  docs/stories/components/modals/LModalFooterNew.stories.js
  docs/stories/components/modals/LModalNew.stories.js
  enum/buttonColors.enum.ts
  package.json
  src/components/buttons/LButtonNew.vue
  src/components/modal/LModal.vue
  test/components/buttons/lButtonNew.spec.ts
  test/components/modal/LModalFooterNew.spec.ts
  yarn.lock
Labels: documentation, enhancement, tested

#288 (LOG-40957) - Corrigido validação de props
  docs/stories/components/inputs/LTextField.stories.js
  src/components/inputs/LTextField.vue
Labels: documentation, enhancement

#289 (LOG-41633) Devolvendo classe removida
  src/components/buttons/LButtonNew.vue
Labels: enhancement

#291 Release/v1.10.0
  .storybook/main.js
  docs/stories/components/buttons/LButtonNew.stories.js
  docs/stories/components/inputs/LCombobox.stories.js
  docs/stories/components/inputs/LSelect.stories.js
  docs/stories/components/inputs/LTextField.stories.js
  docs/stories/components/modals/LModalFooterNew.stories.js
  docs/stories/components/modals/LModalNew.stories.js
  enum/buttonColors.enum.ts
  package.json
  src/assets/scss/inputs.scss
  src/components/buttons/LButtonNew.vue
  src/components/inputs/LCombobox.vue
  src/components/inputs/LSelect.vue
  src/components/inputs/LTextField.vue
  src/components/modal/LModal.vue
  src/components/tooltip/LTooltip.vue
  test/components/buttons/lButtonNew.spec.ts
  test/components/inputs/lCombobox.spec.ts
  test/components/inputs/lSelect.spec.ts
  test/components/inputs/lTextField.spec.ts
  test/components/modal/LModalFooterNew.spec.ts
  yarn.lock
Labels: documentation, tested

#294 (LOG-43894) - Criado componente de avatar
  .gitignore
  docs/stories/assets/person-sample.jpeg
  docs/stories/components/avatars/LAvatar.stories.js
  jest.config.js
  src/components/avatars/LAvatar.vue
  src/components/avatars/index.js
  src/index.js
  test/components/avatars/lAvatar.spec.ts
Labels: documentation, enhancement, tested

#295 (LOG-43402) Mecanismo para usar variáveis sass no script
  docs/stories/Introduction.stories.mdx
  enum/buttonColors.enum.ts
  src/assets/scss/_export.module.scss
  src/assets/scss/_variables.scss
  src/components/tables/LTableNew.vue
  types/declarations.d.ts
Labels: enhancement

#296 (LOG-43536) - Forçando alinhamento nos tooltips top e bottom
  babel.config.js
  docs/stories/components/tooltip/LTooltip.stories.js
  jest.config.js
  package.json
  src/components/tooltip/LTooltip.vue
  test/components/tooltip/lTooltip.spec.ts
  test/utils/string.spec.ts
  utils/string.util.ts
  yarn.lock
Labels: documentation, enhancement, tested

#297 (LOG-43048) - Implementação do slot no lCardHeader.
  docs/stories/components/cards/LCard.stories.js
  src/components/cards/LCard.vue
  src/components/cards/LCardHeader.vue
Labels: documentation, enhancement

#299 (LOG-41661) Remoção buttons deprecados
  docs/stories/components/alerts/LAlert.stories.js
  docs/stories/components/buttons/LButton.stories.js
  docs/stories/components/buttons/LButtonIcon.stories.js
  src/components/buttons/LButton.vue
  src/components/buttons/LButtonIcon.vue
  src/components/buttons/LButtonSelect.vue
  src/components/buttons/index.js
  src/components/inputs/LDropdownCheckbox.vue
  test/components/buttons/lButton.spec.ts
  test/components/buttons/lButtonIcon.spec.ts
  test/components/buttons/lButtonSelect.spec.ts
Labels: documentation, enhancement, tested

#300 (LOG-32619) - Adicionado input manual nas datas
  docs/stories/components/inputs/LDatePickerDay.stories.js
  enum/datepicker.enum.ts
  enum/locale.enum.ts
  package.json
  src/components/inputs/LDatePickerDay.vue
  test/components/inputs/lDatePickerDay.spec.ts
  test/components/inputs/lDatePickerDayTestingLibrary.spec.ts
  test/utils/date.spec.ts
  utils/date.util.ts
  yarn.lock
Labels: documentation, enhancement, tested
