Repository comexio/design-system, pull requests merged in 2021-09, with the labels that each got.

#246 (LOG-30634) - Add tooltip component
  docs/stories/components/tooltip/LTooltip.stories.js
  src/components/charts/LCircularChart.vue
  src/components/charts/LRouteChartLine.vue
  src/components/tooltip/LTooltip.vue
  src/components/tooltip/index.js
  src/index.js
  test/components/tooltip/lTooltip.spec.ts
  test/utils.setup.testingLibrary.js
Labels: documentation, enhancement, tested

#248 Release/v1.4.0
  .storybook/preview-head.html
  docs/stories/components/buttons/LButtonNew.stories.js
  docs/stories/components/tooltip/LTooltip.stories.js
  package.json
  src/assets/scss/inputs.scss
  src/components/buttons/LButtonNew.vue
  src/components/charts/LCircularChart.vue
  src/components/charts/LRouteChartLine.vue
  src/components/inputs/LCheckboxList.vue
  src/components/inputs/LInputLoaded.vue
  src/components/inputs/LInputTag.vue
  src/components/modal/LModal.vue
  src/components/tooltip/LTooltip.vue
  src/components/tooltip/index.js
  src/index.js
  test/components/buttons/lButtonNew.spec.ts
  test/components/inputs/lCheckboxList.spec.ts
  test/components/tooltip/lTooltip.spec.ts
  test/utils.setup.testingLibrary.js
  test/utils/size.spec.ts
  utils/size.util.ts
Labels: documentation, tested

#251 (LOG-34819) Melhoria mecanismo de cores Datepickers
  docs/stories/components/inputs/LDatePickerDay.stories.js
  docs/stories/components/inputs/LDatePickerMonth.stories.js
  docs/stories/components/inputs/LInputLoaded.stories.js
  src/components/inputs/LDatePickerDay.vue
  src/components/inputs/LDatePickerMonth.vue
  src/components/inputs/LInputLoaded.vue
Labels: documentation, enhancement

#250 (LOG-36630) - Alterado tooltip padrão nos gráficos
  docs/stories/components/charts/LBarChart.stories.js
  docs/stories/components/charts/LLinearChart.stories.js
  src/components/charts/LBarChartLine.vue
  src/components/charts/LLinearChartExpand.vue
  src/components/charts/LLinearChartLine.vue
  test/components/charts/lBarChart.spec.ts
Labels: documentation, enhancement, tested

#252 (LOG-36281) - Adicionada verificação para valores undefined na condição de preenchimento do line no BarChart
  src/components/charts/LBarChartLine.vue
Labels: bug

#254 Release v1.5.0
  docs/stories/components/charts/LBarChart.stories.js
  docs/stories/components/charts/LLinearChart.stories.js
  docs/stories/components/inputs/LDatePickerDay.stories.js
  docs/stories/components/inputs/LDatePickerMonth.stories.js
  docs/stories/components/inputs/LInputLoaded.stories.js
  package.json
  src/components/charts/LBarChartLine.vue
  src/components/charts/LLinearChartExpand.vue
  src/components/charts/LLinearChartLine.vue
  src/components/inputs/LDatePickerDay.vue
  src/components/inputs/LDatePickerMonth.vue
  src/components/inputs/LInputLoaded.vue
  test/components/charts/lBarChart.spec.ts
Labels: documentation, tested

#253 (LOG-32960) - Criação de novo modal
  .storybook/preview-head.html
  docs/stories/components/modals/LModal.stories.js
  docs/stories/components/modals/LModalContent.stories.js
  docs/stories/components/modals/LModalFooterNew.stories.js
  docs/stories/components/modals/LModalHeaderNew.stories.js
  docs/stories/components/modals/LModalNew.stories.js
  jest.config.js
  src/components/modal/LModalFooterNew.vue
  src/components/modal/LModalHeaderNew.vue
  src/components/modal/LModalNew.vue
  src/components/modal/index.js
  test/__mocks__/styleMock.js
  test/components/modal/LModalFooterNew.spec.ts
  test/components/modal/LModalHeaderNew.spec.ts
  test/components/modal/LModalNew.spec.ts
Labels: documentation, enhancement, tested

#256 (LOG-38458) Adição prop iconColors LTableNew
  docs/stories/components/tables/LTableNew.stories.js
  src/components/tables/LTableNew.vue
Labels: documentation, enhancement

#259 (LOG-32960) - Ajustes modal e botão
  docs/stories/components/buttons/LButtonNew.stories.js
  src/components/buttons/LButtonNew.vue
  src/components/modal/LModalNew.vue
Labels: documentation, enhancement

#260 Release/v1.6.0
  .storybook/preview-head.html
  docs/stories/components/buttons/LButtonNew.stories.js
  docs/stories/components/modals/LModal.stories.js
  docs/stories/components/modals/LModalContent.stories.js
  docs/stories/components/modals/LModalFooterNew.stories.js
  docs/stories/components/modals/LModalHeaderNew.stories.js
  docs/stories/components/modals/LModalNew.stories.js
  docs/stories/components/tables/LTableNew.stories.js
  jest.config.js
  package.json
  src/components/buttons/LButtonNew.vue
  src/components/modal/LModalFooterNew.vue
  src/components/modal/LModalHeaderNew.vue
  src/components/modal/LModalNew.vue
  src/components/modal/index.js
  src/components/tables/LTableNew.vue
  test/__mocks__/styleMock.js
  test/components/modal/LModalFooterNew.spec.ts
  test/components/modal/LModalHeaderNew.spec.ts
  test/components/modal/LModalNew.spec.ts
Labels: documentation, tested

#263 (LOG-35295) - Melhoria de build e dependencias
  package.json
  vue.config.js
Labels: enhancement
