Repository comexio/design-system, pull requests merged in 2021-12, with the labels that each got.

#301 (LOG-45197) Documentando cores
  docs/stories/design/colors.stories.mdx
Labels: enhancement

#302 (LOG-45554) Removendo border-radius LDropdownCheckbox
  src/components/inputs/LDropdownCheckbox.vue
Labels: enhancement

#305 (LOG-45578) - Corrigido datepicker com periodo vazio
  src/components/inputs/LDatePickerDay.vue
Labels: enhancement

#306 Release/v2.0.0
  .github/workflows/npm-publish-beta.yml
  .gitignore
  babel.config.js
  docs/stories/Introduction.stories.mdx
  docs/stories/assets/person-sample.jpeg
  docs/stories/components/alerts/LAlert.stories.js
  docs/stories/components/avatars/LAvatar.stories.js
  docs/stories/components/buttons/LButton.stories.js
  docs/stories/components/buttons/LButtonIcon.stories.js
  docs/stories/components/cards/LCard.stories.js
  docs/stories/components/inputs/LDatePickerDay.stories.js
  docs/stories/components/tooltip/LTooltip.stories.js
  docs/stories/design/colors.stories.mdx
  enum/buttonColors.enum.ts
  enum/datepicker.enum.ts
  enum/locale.enum.ts
  jest.config.js
  package.json
  src/assets/scss/_export.module.scss
  src/assets/scss/_variables.scss
  src/components/avatars/LAvatar.vue
  src/components/avatars/index.js
  src/components/buttons/LButton.vue
  src/components/buttons/LButtonIcon.vue
  src/components/buttons/LButtonSelect.vue
  src/components/buttons/index.js
  src/components/cards/LCard.vue
  src/components/cards/LCardHeader.vue
  src/components/inputs/LDatePickerDay.vue
  src/components/inputs/LDropdownCheckbox.vue
  src/components/tables/LTableNew.vue
  src/components/tooltip/LTooltip.vue
  src/index.js
  test/components/avatars/lAvatar.spec.ts
  test/components/buttons/lButton.spec.ts
  test/components/buttons/lButtonIcon.spec.ts
  test/components/buttons/lButtonSelect.spec.ts
  test/components/inputs/lDatePickerDay.spec.ts
  test/components/inputs/lDatePickerDayTestingLibrary.spec.ts
  test/components/tooltip/lTooltip.spec.ts
  test/utils/date.spec.ts
  test/utils/string.spec.ts
  types/declarations.d.ts
  utils/date.util.ts
  utils/string.util.ts
  yarn.lock
Labels: documentation, tested

#310 (LOG-45359) - Migrado teste para testing-library
  docs/stories/components/inputs/LDatePickerDay.stories.js
  src/components/inputs/LDatePickerDay.vue
  test/components/inputs/lDatePickerDay.spec.ts
  test/components/inputs/lDatePickerDayTestingLibrary.spec.ts
Labels: documentation, enhancement, tested

#311 (LOG-43123) Inclusão de props input loaded
  docs/stories/components/inputs/LInputLoaded.stories.js
  src/components/inputs/LInputLoaded.vue
  test/components/inputs/lInputLoaded.spec.ts
Labels: documentation, enhancement, tested

#312 (LOG-41284) - Adicionado componente LTextArea
  docs/stories/components/inputs/LTextArea.stories.js
  src/components/inputs/LTextArea.vue
  test/components/inputs/lTextArea.spec.ts
Labels: documentation, enhancement, tested

#313 (LOG-46117) Configuração prettier
  .prettierignore
  .prettierrc.json
Labels: enhancement
