Repository comexio/design-system, pull requests merged in 2021-02, with the labels that each got.

#123 (LOG-15152) Traduzir pacote design-system
  .storybook/helpers/config.helper.js
  .storybook/helpers/initializeObjects.js
  .storybook/manager.js
  .storybook/preview.js
  .storybook/theme/colors.js
  .storybook/theme/index.js
  .storybook/vuetify_storybook.js
  docs/stories/components/charts/LBarChart.stories.js
  docs/stories/components/charts/LLinearChartExpand.stories.js
  docs/stories/components/inputs/LDropdownCheckbox.stories.js
  docs/stories/components/inputs/LInputTag.stories.js
  docs/stories/components/inputs/LSelectNamed.stories.js
  docs/stories/components/inputs/LSelectSolo.stories.js
  docs/stories/components/modals/LModal.stories.js
  docs/stories/components/modals/LModalContent.stories.js
  docs/stories/components/tables/LTable.stories.js
  package.json
  src/components/charts/LBarChartLine.vue
  src/components/charts/LLinearChart.vue
  src/components/charts/LLinearChartExpand.vue
  src/components/charts/LLinearChartLine.vue
  src/components/inputs/LCheckboxList.vue
  src/components/inputs/LDropdownCheckbox.vue
  src/components/modal/LModal.vue
  src/components/tables/LSimpleTable.vue
  src/locale/en.js
  src/locale/pt.js
  test/components/charts/lBarChart.spec.ts
  yarn.lock
Labels: tested

#127 (LOG-17043/LOG-17044) - Desenvolvido ajuste para emissão de evento de click e classe para mudar cursor para pointer
  docs/stories/components/charts/LLinearChart.stories.js
  docs/stories/components/charts/LLinearChartExpand.stories.js
  src/components/charts/LLinearChart.vue
  src/components/charts/LLinearChartExpand.vue
  src/components/charts/LLinearChartLine.vue
  test/components/charts/lLinearChartExpand.spec.ts
  test/components/charts/lLinearChartLine.spec.ts
Labels: documentation, tested

#128 (LOG-16296) - Adicionado altura maxima pra tabela do card expandido
  docs/stories/components/charts/LLinearChartExpand.stories.js
  src/components/charts/LLinearChartExpand.vue
Labels: no test needed

#129 (LOG-12260) - Adicionar o tooltip apenas quando for TEUS
  docs/stories/components/charts/LLinearChart.stories.js
  docs/stories/components/charts/LLinearChartExpand.stories.js
  src/components/charts/LLinearChart.vue
  src/components/charts/LLinearChartExpand.vue
  src/components/charts/LLinearChartLine.vue
  test/components/charts/lLinearChart.spec.ts
  test/components/charts/lLinearChartExpand.spec.ts
Labels: documentation, tested

#126 (LOG-16670) - Corrigido bug de data invertida
  src/components/inputs/LDatePickerDay.vue
  test/components/inputs/lDatePickerDay.spec.ts
  utils/date.util.ts
Labels: tested

#131 (LOG-16466) List box fica em cima da tela
  docs/stories/components/inputs/LDatePickerDay.stories.js
  src/components/inputs/LDatePickerDay.vue
  src/components/inputs/LInputLoaded.vue
  test/components/inputs/lDatePickerDay.spec.ts
Labels: tested

#130 (LOG-16729) - Adicionar id nos titulos e informações estáticas do componente
  docs/stories/components/cards/LCard.stories.js
  src/components/cards/LCard.vue
  src/components/cards/LCardHeader.vue
  test/components/cards/lCardHeader.spec.ts
  test/utils/string.spec.ts
  utils/string.util.ts
Labels: documentation, tested

#132 (LOG-17183) - Adicionado tratamento para caso seja ultimo elemento do LLinearCharline não adicionar evento ao clicar.
  src/components/charts/LLinearChartLine.vue
  test/components/charts/lLinearChartLine.spec.ts
Labels: tested

#133 (LOG-17418) - Correção do datepicker não emitindo datas
  src/components/inputs/LDatePickerDay.vue
  test/components/inputs/lDatePickerDay.spec.ts
Labels: tested

#135 (LOG-16349) Ajustar board que não está responsivo
  docs/stories/components/charts/LLinearChart.stories.js
  src/components/charts/LLinearChart.vue
  src/components/charts/LLinearChartLine.vue
  test/components/charts/lLinearChart.spec.ts
Labels: tested

#137 (LOG-17204) Externalizar funcionalidade auto complete dos filtros
  docs/stories/components/inputs/LInputLoaded.stories.js
  src/components/inputs/LInputLoaded.vue
  src/locale/en.js
  src/locale/pt.js
  test/components/inputs/lInputLoaded.spec.ts
Labels: tested
