Repository comexio/design-system, pull requests merged in 2022-02, with the labels that each got.

#327 (LOG-41195) Documentando e Melhorando LProgressBar
  docs/stories/components/bars/LProgressBar.stories.js
  src/components/bars/LProgressBar.vue
  test/components/bars/lProgressBar.spec.ts
Labels: documentation, enhancement, tested

#328 (LOG-41285) Refatorando LLoading
  docs/stories/components/loadings/LLoading.stories.js
  src/components/bars/LProgressBar.vue
  src/components/loadings/LLoading.vue
Labels: documentation, enhancement

#329 release/v2.2.1
  docs/stories/components/bars/LProgressBar.stories.js
  docs/stories/components/loadings/LLoading.stories.js
  package.json
  src/components/bars/LProgressBar.vue
  src/components/loadings/LLoading.vue
  test/components/bars/lProgressBar.spec.ts
Labels: documentation, tested

#331 (LOG-50553) - Adicionado eventos para o LTextArea
  src/components/inputs/LTextArea.vue
  src/components/inputs/index.js
Labels: enhancement

#334 (LOG-41286) Remoção LModal
  docs/stories/components/modals/LModal.stories.js
  src/components/modal/LModal.vue
  src/components/modal/index.js
  test/components/modal/LModal.spec.ts
Labels: documentation, enhancement, tested

#337 (LOG-51080) Removendo paths-ignore beta
  .github/workflows/npm-publish-beta.yml
Labels: enhancement

#336 (LOG-41465) Criação do ChartGrid
  docs/stories/components/charts/LGridChart.stories.js
  src/components/charts/LGridChart.vue
  src/components/charts/index.js
  test/components/charts/lGridChart.spec.ts
Labels: documentation, enhancement, tested

#339 (LOG-52069) Inclusão de slot no dropdownCheckbox
  docs/stories/components/inputs/LDropdownCheckbox.stories.js
  src/components/inputs/LDropdownCheckbox.vue
  test/components/inputs/lDropdownCheckbox.spec.ts
Labels: documentation, tested

#340 (LOG-52069) Inclusão de controle de desabilitar o v-menu LDropdownCheckbox
  src/components/inputs/LDropdownCheckbox.vue
Labels: bug, no test needed

#342 (LOG-41465) - Ajustes no design do GridChart
  src/components/charts/LGridChart.vue
  test/components/charts/lGridChart.spec.ts
Labels: enhancement, tested

#343 (LOG-52045) - Criar lupa para gráfico LinearChart
  docs/stories/components/charts/LLinearChart.stories.js
  docs/stories/components/charts/LLinearChartTotalValue.stories.js
  src/components/charts/LLinearChart.vue
  src/components/charts/LLinearChartLine.vue
  test/components/charts/lLinearChart.spec.ts
  test/components/charts/lLinearChartLine.spec.ts
Labels: documentation, enhancement, tested
