Repository comexio/design-system, pull requests merged in 2022-04, with the labels that each got.

#361 (LOG-53290) Novo componente: LToast / LAlert deprecated
  docs/stories/components/alerts/LAlert.stories.js
  docs/stories/components/alerts/LToast.stories.js
  docs/stories/components/alerts/LToastContent.stories.js
  docs/stories/design/colors.stories.mdx
  enum/toast.enum.ts
  src/assets/scss/_export.module.scss
  src/assets/scss/_variables.scss
  src/components/alerts/LAlert.vue
  src/components/alerts/LToast.vue
  src/components/alerts/LToastContent.vue
  src/components/alerts/index.js
  test/components/alerts/LToast.spec.ts
  test/components/alerts/LToastContent.spec.ts
Labels: documentation, enhancement, tested

#364 Release 3.1.0
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  docs/stories/components/alerts/LAlert.stories.js
  docs/stories/components/alerts/LToast.stories.js
  docs/stories/components/alerts/LToastContent.stories.js
  docs/stories/design/colors.stories.mdx
  enum/toast.enum.ts
  mixins/colors.mixin.ts
  package.json
  src/assets/scss/_export.module.scss
  src/assets/scss/_variables.scss
  src/components/alerts/LAlert.vue
  src/components/alerts/LToast.vue
  src/components/alerts/LToastContent.vue
  src/components/alerts/index.js
  src/components/charts/LBarChart.vue
  src/components/charts/LGeneralChart.vue
  src/components/charts/LLinearChart.vue
  src/components/charts/LLinearChartLine.vue
  src/components/filters/LLabeledChip.vue
  src/components/inputs/LDatePickerDay.vue
  src/components/inputs/LDatePickerMonth.vue
  src/components/inputs/LInputButton.vue
  src/components/inputs/LInputLoaded.vue
  src/components/inputs/LInputSolo.vue
  src/components/inputs/LInputTag.vue
  src/components/inputs/LLabeledInput.vue
  src/components/inputs/LLabeledSelect.vue
  src/components/inputs/LLabeledTextarea.vue
  src/components/inputs/LSelect.vue
  src/components/inputs/LSelectNamed.vue
  src/components/modal/LModalHeaderNew.vue
  src/components/modal/LModalNew.vue
  src/components/tables/LTableNew.vue
  src/components/timeline/LTimeline.vue
  test/components/alerts/LToast.spec.ts
  test/components/alerts/LToastContent.spec.ts
Labels: documentation, tested

#368 (LOG-52617) Inclusão de props para restringir somente numeros
  src/components/inputs/LInputTag.vue
  test/components/inputs/lInputTag.spec.ts
Labels: enhancement, tested

#369 (LOG-56199) Atualizando documentação do LInputLoaded
  docs/stories/components/inputs/LInputTag.stories.js
Labels: documentation, enhancement
