Repository comexio/design-system, pull requests merged in 2022-01, with the labels that each got.

#315 (LOG-47259) Mecanismo de enabledPeriods no datepicker
  docs/stories/components/inputs/LDatePickerMonth.stories.js
  src/components/inputs/LDatePickerMonth.vue
  test/components/inputs/lDatePickerMonth.spec.ts
Labels: documentation, enhancement, tested

#314 (LOG-45606) Padronizando workflows de deploy
  .github/workflows/npm-publish-beta.yml
  .github/workflows/npm-publish.yml
Labels: enhancement

#316 Release/v2.1.0
  .github/workflows/npm-publish-beta.yml
  .github/workflows/npm-publish.yml
  .prettierignore
  .prettierrc.json
  docs/stories/components/inputs/LDatePickerDay.stories.js
  docs/stories/components/inputs/LDatePickerMonth.stories.js
  docs/stories/components/inputs/LInputLoaded.stories.js
  docs/stories/components/inputs/LTextArea.stories.js
  package.json
  src/components/inputs/LDatePickerDay.vue
  src/components/inputs/LDatePickerMonth.vue
  src/components/inputs/LInputLoaded.vue
  src/components/inputs/LTextArea.vue
  test/components/inputs/lDatePickerDay.spec.ts
  test/components/inputs/lDatePickerDayTestingLibrary.spec.ts
  test/components/inputs/lDatePickerMonth.spec.ts
  test/components/inputs/lInputLoaded.spec.ts
  test/components/inputs/lTextArea.spec.ts
Labels: documentation, tested

#320 (LOG-48424) Ajustes de layout DropdownCheckbox
  src/components/inputs/LDropdownCheckbox.vue
Labels: enhancement

#321 (LOG-41207) Criação novos componentes de card
  docs/stories/components/cards/LCard.stories.js
  docs/stories/components/cards/LCardHeaderNew.stories.js
  docs/stories/components/cards/LCardNew.stories.js
  src/components/cards/LCardHeaderNew.vue
  src/components/cards/LCardNew.vue
  src/components/cards/index.js
  test/components/cards/LCardHeaderNew.spec.ts
  test/components/cards/lCardNew.spec.ts
Labels: documentation, enhancement, tested

#322 (LOG-48782) Corrigindo conflito vModel com value prop
  docs/stories/components/inputs/LCheckboxNew.stories.js
  src/components/inputs/LCheckboxNew.vue
  test/components/inputs/lCheckboxNew.spec.ts
Labels: documentation, enhancement, tested

#324 Release/v2.2.0
  docs/stories/components/cards/LCard.stories.js
  docs/stories/components/cards/LCardHeaderNew.stories.js
  docs/stories/components/cards/LCardNew.stories.js
  docs/stories/components/inputs/LCheckboxNew.stories.js
  package.json
  src/components/cards/LCardHeaderNew.vue
  src/components/cards/LCardNew.vue
  src/components/cards/index.js
  src/components/inputs/LCheckboxNew.vue
  src/components/inputs/LDropdownCheckbox.vue
  test/components/cards/LCardHeaderNew.spec.ts
  test/components/cards/lCardNew.spec.ts
  test/components/inputs/lCheckboxNew.spec.ts
Labels: documentation, tested
