Repository comexio/design-system, pull requests merged in 2022-05, with the labels that each got.

#370 Release/v3.2.0
  docs/stories/components/alerts/LHeaderAlert.stories.js
  docs/stories/components/alerts/LHeaderAlertContent.stories.js
  docs/stories/components/alerts/LToast.stories.js
  docs/stories/components/alerts/LToastContent.stories.js
  docs/stories/components/inputs/LInputTag.stories.js
  docs/stories/design/colors.stories.mdx
  enum/alert.enum.ts
  mixins/alert.mixin.ts
  package.json
  src/assets/scss/_export.module.scss
  src/assets/scss/_variables.scss
  src/components/alerts/LHeaderAlert.vue
  src/components/alerts/LHeaderAlertContent.vue
  src/components/alerts/LToast.vue
  src/components/alerts/LToastContent.vue
  src/components/alerts/index.js
  src/components/inputs/LInputTag.vue
  test/components/alerts/LHeaderAlert.spec.ts
  test/components/alerts/LHeaderAlertContent.spec.ts
  test/components/alerts/LToast.spec.ts
  test/components/alerts/LToastContent.spec.ts
  test/components/inputs/lInputTag.spec.ts
Labels: documentation, enhancement, tested

#372 (LOG-52722) Sobrepondo font-family vuetify doc
  .storybook/preview-head.html
Labels: enhancement

#373 (LOG-55305) - Corrigido LToast fora da story
  .storybook/preview-head.html
  docs/stories/components/alerts/LToast.stories.js
  test/components/alerts/LToast.spec.ts
Labels: documentation, enhancement, tested

#374 (LOG-57518) Trazer data em formato americano
  enum/datepicker.enum.ts
  test/components/inputs/lDatePickerDay.spec.ts
Labels: enhancement, tested

#375 (LOG-58098) Melhorias/correções visuais inputs
  docs/stories/components/inputs/LCombobox.stories.js
  docs/stories/components/inputs/LSelect.stories.js
  docs/stories/components/inputs/LTextField.stories.js
  src/assets/scss/_globals.scss
  src/assets/scss/inputs.scss
  test/components/inputs/lCombobox.spec.ts
  test/components/inputs/lTextField.spec.ts
Labels: documentation, enhancement, tested

#376 (LOG-57115) Ajustando espaçamento com/sem prepend LCardHeaderNew
  src/components/cards/LCardHeaderNew.vue
Labels: enhancement

#377 (LOG-58836) Revertendo query disabled
  src/assets/scss/inputs.scss
Labels: enhancement

#378 (LOG-55573) - Atualizado pacotes percy e storybook
  .github/workflows/npm-publish-beta.yml
  .github/workflows/npm-publish.yml
  .github/workflows/percy.yml
  .github/workflows/pr-validate.yml
  package.json
  yarn.lock
Labels: enhancement

#380 (LOG-55573) - Adicionado target branch no yml
  .github/workflows/percy.yml
Labels: enhancement
