Repository comexio/design-system, pull requests merged in 2022-10, with the labels that each got.

#416 Release/v3.5.0
  .github/CODEOWNERS
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/percy-homol.yml
  .github/workflows/percy-master.yml
  docs/stories/components/charts/LCircularChart.stories.js
  docs/stories/components/charts/LLinearChart.stories.js
  docs/stories/components/inputs/LCheckbox.stories.js
  docs/stories/components/inputs/LInputBorder.stories.js
  docs/stories/components/inputs/LInputSolo.stories.js
  docs/stories/components/inputs/LLabeledInput.stories.js
  docs/stories/components/inputs/LSelectNamed.stories.js
  docs/stories/components/timeline/LTimeline.stories.js
  package.json
  src/components/charts/LCircularChart.vue
  src/components/charts/LLinearChart.vue
  src/components/charts/LLinearChartExpand.vue
  src/components/charts/LLinearChartLine.vue
  src/components/inputs/LCheckbox.vue
  src/components/inputs/LDatePickerMonth.vue
  src/components/inputs/LDropdownCheck.vue
  src/components/inputs/LInputBorder.vue
  src/components/inputs/LInputSolo.vue
  src/components/inputs/LLabeledInput.vue
  src/components/inputs/LLabeledSelect.vue
  src/components/inputs/LLabeledTextarea.vue
  src/components/inputs/LSelectNamed.vue
  src/components/inputs/index.js
  src/components/timeline/LTimeline.vue
  test/components/charts/LLinearChart/lLinearChartLineNew.spec.ts
  test/components/charts/LLinearChart/mocks.ts
  test/components/charts/lCircularChart.spec.ts
  test/components/charts/lLinearChart.spec.ts
  test/components/charts/lLinearChartExpand.spec.ts
  test/components/charts/lLinearChartLine.spec.ts
  test/components/inputs/lCheckbox.spec.ts
  test/components/inputs/lDatePickerMonth.spec.ts
  test/components/inputs/lInputSolo.spec.ts
  test/components/inputs/lSelectNamed.spec.ts
  test/components/timeline/lTimeline.spec.ts
Labels: documentation, tested

#418 (LOG-68536) - Erro ao acessar em ambiente de desenvolvimento
  src/components/inputs/LDatePickerMonth.vue
Labels: bug

#419 (LOG-67233) - Ajuste de font solicitado pela designer
  src/components/cards/LCardHeaderNew.vue
Labels: enhancement
