Repository comexio/design-system, pull requests merged in 2022-07, with the labels that each got.

#400 Release/v3.4.0
  .prettierrc.json
  docs/stories/components/alerts/LAlert.stories.js
  package.json
  src/assets/scss/inputs.scss
  src/components/alerts/LAlert.vue
  src/components/alerts/index.js
  src/components/buttons/LButtonNew.vue
  src/components/cards/LCard.vue
  src/components/cards/LCardHeader.vue
  src/components/charts/LLinearChart.vue
  src/components/inputs/LCheckboxList.vue
  src/components/inputs/LCheckboxNew.vue
  src/components/inputs/LDropdownCheck.vue
  src/components/inputs/LInputLoaded.vue
  src/components/inputs/LTextField.vue
  src/components/timeline/LTimeline.vue
  test/components/alerts/alert.spec.ts
  yarn.lock
Labels: documentation, tested

#405 (LOG-61754) - Ajustar icone de proximo na timeline
  docs/stories/components/timeline/LTimeline.stories.js
  src/components/timeline/LTimeline.vue
  test/components/timeline/lTimeline.spec.ts
Labels: bug, documentation, tested

#406 (LOG-61754) Correção para iniciar com a seta sendo mostrada
  src/components/timeline/LTimeline.vue
Labels: bug

#407 (LOG-41665) Remoção inputs depreciados
  docs/stories/components/inputs/LCheckbox.stories.js
  docs/stories/components/inputs/LInputBorder.stories.js
  docs/stories/components/inputs/LInputSolo.stories.js
  docs/stories/components/inputs/LLabeledInput.stories.js
  docs/stories/components/inputs/LSelectNamed.stories.js
  src/components/inputs/LCheckbox.vue
  src/components/inputs/LDropdownCheck.vue
  src/components/inputs/LInputBorder.vue
  src/components/inputs/LInputSolo.vue
  src/components/inputs/LLabeledInput.vue
  src/components/inputs/LLabeledSelect.vue
  src/components/inputs/LLabeledTextarea.vue
  src/components/inputs/LSelectNamed.vue
  src/components/inputs/index.js
  test/components/inputs/lCheckbox.spec.ts
  test/components/inputs/lInputSolo.spec.ts
  test/components/inputs/lSelectNamed.spec.ts
Labels: documentation, enhancement, tested

#409 (LOG-62183) - Melhoria componente de timeline
  src/components/timeline/LTimeline.vue
Labels: enhancement
