Repository comexio/design-system, pull requests merged in 2022-03, with the labels that each got.

#345 (LOG-52045) - Criar lupa para gráfico LinearChart
  src/components/charts/LLinearChart.vue
  test/components/charts/lLinearChart.spec.ts
Labels: enhancement, tested

#350 Release/v3.0.0
  docs/stories/components/charts/LGridChart.stories.js
  docs/stories/components/charts/LLinearChart.stories.js
  docs/stories/components/charts/LLinearChartTotalValue.stories.js
  docs/stories/components/inputs/LDropdownCheckbox.stories.js
  docs/stories/components/modals/LModal.stories.js
  docs/stories/components/tables/LTable.stories.js
  package.json
  src/components/charts/LGridChart.vue
  src/components/charts/LLinearChart.vue
  src/components/charts/LLinearChartLine.vue
  src/components/charts/index.js
  src/components/inputs/LDropdownCheckbox.vue
  src/components/inputs/LTextArea.vue
  src/components/inputs/index.js
  src/components/loadings/LLoading.vue
  src/components/modal/LModal.vue
  src/components/modal/index.js
  src/components/tables/LTable.vue
  src/components/tables/index.js
  test/components/charts/lGridChart.spec.ts
  test/components/charts/lLinearChart.spec.ts
  test/components/charts/lLinearChartLine.spec.ts
  test/components/inputs/lDropdownCheckbox.spec.ts
  test/components/modal/LModal.spec.ts
  test/components/tables/lTable.spec.ts
Labels: documentation, tested

#353 (LOG-52577) - Ajuste color texto
  src/components/inputs/LSelect.vue
Labels: enhancement

#354 (LOG-52748) Melhoria documentação PRs
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Labels: enhancement

#356 (LOG-50918) Mecanismo de cores por mixin
  docs/stories/design/colors.stories.mdx
  mixins/colors.mixin.ts
  src/assets/scss/_export.module.scss
  src/assets/scss/_variables.scss
  src/components/charts/LBarChart.vue
  src/components/charts/LLinearChart.vue
  src/components/charts/LLinearChartLine.vue
  src/components/filters/LLabeledChip.vue
  src/components/inputs/LDatePickerDay.vue
  src/components/inputs/LDatePickerMonth.vue
  src/components/inputs/LInputButton.vue
  src/components/inputs/LInputLoaded.vue
  src/components/inputs/LInputSolo.vue
  src/components/inputs/LInputTag.vue
  src/components/inputs/LLabeledInput.vue
  src/components/inputs/LLabeledSelect.vue
  src/components/inputs/LLabeledTextarea.vue
  src/components/inputs/LSelectNamed.vue
  src/components/modal/LModalHeaderNew.vue
  src/components/modal/LModalNew.vue
  src/components/tables/LTableNew.vue
  src/components/timeline/LTimeline.vue
Labels: enhancement
