Repository comexio/design-system, pull requests merged in 2022-06, with the labels that each got.

#384 (LOG-52752) Alerta de depreciação de inputs e primeiras remoções
  docs/stories/components/inputs/LInputButton.stories.js
  docs/stories/components/inputs/LSelectSolo.stories.js
  src/components/inputs/LCheckbox.vue
  src/components/inputs/LInputBorder.vue
  src/components/inputs/LInputButton.vue
  src/components/inputs/LInputSolo.vue
  src/components/inputs/LLabeledInput.vue
  src/components/inputs/LLabeledSelect.vue
  src/components/inputs/LLabeledTextarea.vue
  src/components/inputs/LSelectNamed.vue
  src/components/inputs/LSelectSolo.vue
  src/components/inputs/index.js
  test/components/inputs/lSelectSolo.spec.ts
Labels: documentation, enhancement, tested

#382 (LOG-52113) - Removido componente LModalContent
  docs/stories/components/modals/LModalContent.stories.js
  src/components/modal/LModalContent.vue
  src/components/modal/index.js
Labels: documentation, enhancement

#388 (LOG-59665) Fix: Classes --small e --large não aplicando
  src/assets/scss/inputs.scss
  src/components/buttons/LButtonNew.vue
  src/components/inputs/LInputLoaded.vue
  src/components/inputs/LTextField.vue
Labels: enhancement

#390 (LOG-59256) - Removido componente LAlert
  docs/stories/components/alerts/LAlert.stories.js
  src/components/alerts/LAlert.vue
  src/components/alerts/index.js
  test/components/alerts/alert.spec.ts
Labels: documentation, enhancement, tested

#391 (LOG-59737) Depreciando LCard e LCardHeader
  src/components/cards/LCard.vue
  src/components/cards/LCardHeader.vue
Labels: enhancement

#393 (LOG-59582) Substituindo input depreciado e add alerta de depreciação
  src/components/inputs/LCheckboxList.vue
  src/components/inputs/LDropdownCheck.vue
Labels: enhancement

#394 (LOG-59582) Add cor label LCheckboxNew
  src/components/inputs/LCheckboxNew.vue
Labels: enhancement

#392 (LOG-57281) Adiçao de validação para exibir as setinhas caso estiver no mobile e responsividade da timeline
  src/components/timeline/LTimeline.vue
Labels: bug

#397 (LOG-60488) Correção dos botões da timeline
  src/components/timeline/LTimeline.vue
Labels: bug

#399 (LOG-57140) - Adicionado item para o slot LLinearChart
  src/components/charts/LLinearChart.vue
Labels: enhancement
