Repository comexio/design-system, pull requests merged in 2023-07, with the labels that each got.

#439 (LOG-80743) - Removendo fonte fixa
  .storybook/preview-head.html
  src/assets/scss/_globals.scss
  src/assets/scss/inputs.scss
  src/components/buttons/LButtonNew.vue
  src/components/charts/LBarChartLine.vue
  src/components/charts/LLinearChartLine.vue
  src/components/timeline/LTimeline.vue
Labels: enhancement

#441 (LOG-80743) - teste
  src/components/inputs/LCombobox.vue
Labels: enhancement

#444 (LOG-80743) - Atualizando versão
  package.json
Labels: enhancement

#445 (fix) Removendo espaços
  docs/stories/components/alerts/LToast.stories.js
Labels: bug, documentation

#447 (homol) Remoção de espaçamento desnecessário
  docs/stories/components/cards/LCardNew.stories.js
Labels: bug, documentation

#448 (LOG-80743) - att versao
  package.json
Labels: enhancement

#449 (LOG-80743) - att versao
  docs/stories/components/alerts/LHeaderAlert.stories.js
Labels: documentation, enhancement

#451 (fix/lint) Corrigindo lint
  docs/stories/components/inputs/LTextArea.stories.js
  docs/stories/components/inputs/LTextField.stories.js
Labels: bug, documentation

#452 Release/v3.7.0
  .storybook/preview-head.html
  docs/stories/components/alerts/LHeaderAlert.stories.js
  docs/stories/components/alerts/LToast.stories.js
  docs/stories/components/cards/LCardNew.stories.js
  docs/stories/components/inputs/LCheckboxNew.stories.js
  docs/stories/components/inputs/LDatePickerMonth.stories.js
  docs/stories/components/inputs/LSelect.stories.js
  docs/stories/components/inputs/LTextArea.stories.js
  docs/stories/components/inputs/LTextField.stories.js
  docs/stories/components/modals/LModalFooterNew.stories.js
  docs/stories/components/modals/LModalHeaderNew.stories.js
  package.json
  src/assets/scss/_globals.scss
  src/assets/scss/inputs.scss
  src/components/buttons/LButtonNew.vue
  src/components/charts/LBarChartLine.vue
  src/components/charts/LLinearChartExpand.vue
  src/components/charts/LLinearChartLine.vue
  src/components/inputs/LCheckboxNew.vue
  src/components/inputs/LDatePickerMonth.vue
  src/components/inputs/LSelect.vue
  src/components/modal/LModalFooterNew.vue
  src/components/modal/LModalHeaderNew.vue
  src/components/timeline/LTimeline.vue
  test/components/charts/lLinearChartExpand.spec.ts
  test/components/inputs/lCheckboxNew.spec.ts
  test/components/inputs/lDatePickerMonth.spec.ts
  test/components/inputs/lSelect.spec.ts
  test/components/modal/LModalFooterNew.spec.ts
  test/components/modal/LModalHeaderNew.spec.ts
Labels: documentation, tested

#454 (fix/publish-library) Alterando lib publish library
  .github/workflows/npm-publish.yml
Labels: bug
