Repository comexio/design-system, pull requests merged in 2023-01, with the labels that each got.

#428 (LOG-71711) Incluindo hook desabilitando inheritAttrs
  docs/stories/components/inputs/LCheckboxNew.stories.js
  src/components/inputs/LCheckboxNew.vue
  test/components/inputs/lCheckboxNew.spec.ts
Labels: documentation, enhancement, tested

#430 (LOG-67236) - Retornando como era a estrutura do gráfico linear chart
  src/components/charts/LLinearChartLine.vue
Labels: bug

#431 (LOG-71043) - Mudar de "Hide" para "To Retract" no gráfico de Prováveis exportadores
  src/components/charts/LLinearChartExpand.vue
  test/components/charts/lLinearChartExpand.spec.ts
Labels: enhancement, tested

#432 (LOG-72571) - Correção do DatePickerMonth quando lida com data apenas de ano e mês.
  docs/stories/components/inputs/LDatePickerMonth.stories.js
  src/components/inputs/LDatePickerMonth.vue
  test/components/inputs/lDatePickerMonth.spec.ts
Labels: bug, documentation, tested
